# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/*.elf
**/*.cdi

build/*
CMakeFiles/*
build-dreamcast/*
build-dreamcast-debug/cmake_install.cmake
build-dreamcast-debug/CMakeCache.txt
build-dreamcast-debug/compile_commands.json
build-dreamcast-debug/CTestTestfile.cmake
build-dreamcast-debug/Makefile
build-dreamcast-debug/CMakeFiles/cmake.check_cache
build-dreamcast-debug/CMakeFiles/cmake.verify_globs
build-dreamcast-debug/CMakeFiles/CMakeConfigureLog.yaml
build-dreamcast-debug/CMakeFiles/CMakeDirectoryInformation.cmake
build-dreamcast-debug/CMakeFiles/CMakeRuleHashes.txt
build-dreamcast-debug/CMakeFiles/Makefile.cmake
build-dreamcast-debug/CMakeFiles/Makefile2
build-dreamcast-debug/CMakeFiles/progress.marks
build-dreamcast-debug/CMakeFiles/TargetDirectories.txt
build-dreamcast-debug/CMakeFiles/VerifyGlobs.cmake
build-dreamcast-debug/CMakeFiles/3.31.4/CMakeCCompiler.cmake
build-dreamcast-debug/CMakeFiles/3.31.4/CMakeCXXCompiler.cmake
build-dreamcast-debug/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_C.bin
build-dreamcast-debug/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_CXX.bin
build-dreamcast-debug/CMakeFiles/3.31.4/CMakeSystem.cmake
build-dreamcast-debug/CMakeFiles/3.31.4/CompilerIdC/CMakeCCompilerId.c
build-dreamcast-debug/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-dreamcast-debug/_deps/nlohmann_json-build/cmake_install.cmake
build-dreamcast-debug/_deps/nlohmann_json-build/CTestTestfile.cmake
build-dreamcast-debug/_deps/nlohmann_json-build/Makefile
build-dreamcast-debug/_deps/nlohmann_json-build/nlohmann_json.pc
build-dreamcast-debug/_deps/nlohmann_json-build/nlohmann_jsonConfig.cmake
build-dreamcast-debug/_deps/nlohmann_json-build/nlohmann_jsonConfigVersion.cmake
build-dreamcast-debug/_deps/nlohmann_json-build/CMakeFiles/CMakeDirectoryInformation.cmake
build-dreamcast-debug/_deps/nlohmann_json-build/CMakeFiles/progress.marks
build-dreamcast-debug/_deps/nlohmann_json-subbuild/cmake_install.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeCache.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeLists.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/Makefile
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/cmake.check_cache
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeRuleHashes.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/Makefile.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/Makefile2
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate-complete
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/progress.marks
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/TargetDirectories.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/3.31.4/CMakeSystem.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/build.make
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/cmake_clean.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/compiler_depend.make
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/compiler_depend.ts
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/DependInfo.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/Labels.json
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/Labels.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/progress.make
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-build
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-configure
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-done
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-download
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-gitclone-lastrun.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-gitinfo.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-install
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-mkdir
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-patch
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-patch-info.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-test
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-update-info.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-cfgcmd.txt
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-gitclone.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-gitupdate.cmake
build-dreamcast-debug/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-mkdirs.cmake
build-dreamcast-debug/src/cmake_install.cmake
build-dreamcast-debug/src/CTestTestfile.cmake
build-dreamcast-debug/src/Makefile
build-dreamcast-debug/src/CMakeFiles/CMakeDirectoryInformation.cmake
build-dreamcast-debug/src/CMakeFiles/progress.marks
build-dreamcast-debug/src/udj-core/cmake_install.cmake
build-dreamcast-debug/src/udj-core/CTestTestfile.cmake
build-dreamcast-debug/src/udj-core/Makefile
build-dreamcast-debug/src/udj-core/CMakeFiles/CMakeDirectoryInformation.cmake
build-dreamcast-debug/src/udj-core/CMakeFiles/progress.marks
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/build.make
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/cmake_clean_target.cmake
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/cmake_clean.cmake
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/compiler_depend.internal
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/compiler_depend.make
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/compiler_depend.ts
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/depend.make
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/DependInfo.cmake
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/flags.make
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/link.txt
build-dreamcast-debug/src/udj-core/CMakeFiles/udj-core.dir/progress.make
build-dreamcast-debug/src/udjourney/cmake_install.cmake
build-dreamcast-debug/src/udjourney/CTestTestfile.cmake
build-dreamcast-debug/src/udjourney/Makefile
build-dreamcast-debug/src/udjourney/romdisk_tmp.cpp
build-dreamcast-debug/src/udjourney/romdisk.img
build-dreamcast-debug/src/udjourney/CMakeFiles/CMakeDirectoryInformation.cmake
build-dreamcast-debug/src/udjourney/CMakeFiles/progress.marks
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/build.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/cmake_clean.cmake
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/compiler_depend.internal
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/compiler_depend.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/compiler_depend.ts
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/depend.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/DependInfo.cmake
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/flags.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/link.txt
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey.dir/progress.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey_cdi.dir/build.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey_cdi.dir/cmake_clean.cmake
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey_cdi.dir/compiler_depend.make
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey_cdi.dir/compiler_depend.ts
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey_cdi.dir/DependInfo.cmake
build-dreamcast-debug/src/udjourney/CMakeFiles/updown-journey_cdi.dir/progress.make
